@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

}
.title {
  text-align: center;
  margin-top: 5rem;
}
.container {
  margin: 0 auto;
  margin-top: 5rem;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.head {
  text-align: center;
  color: #fff;
}

.head.begin {
  color: rgb(16, 214, 26);
}

.head.progress {
  color: #058bf8;
}

.head.done {
  color: red;
}

.board {
  background-color: #333;
  padding: 1rem;
  width: 180px;
  border-radius: 15px;
}

.item {
  background-color: #fff;
  padding: 1rem;
  border: 5px solid grey;
  cursor: move;
  position: relative;
  font-weight: 600;
}
.item span {
  position: absolute;
  top: -7px;
  right: 3px;
  font-size: 25px;
  font-weight: normal;
}
.item span:hover {
  cursor:default;
}
.item.moving {
  opacity: 0.5;
  border: 5px solid #fff;
  background-color: lightblue;
}
.item.start {
  border: 5px solid rgb(16, 214, 26);
}
.item.running {
  border: 5px solid #058bf8;
}
.item.finish {
  border: 5px solid red;
}

#create:hover {
  cursor: pointer;
  background-color: crimson;

}
